@charset "UTF-8";
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

/* -------------------------------

CSS reset

------------------------------- */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;vertical-align:baseline;font:inherit;font-size:100%;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}table{border-spacing:0;border-collapse:collapse;}


/* -------------------------------

Default style

------------------------------- */
body{
	position:relative;
	background:#fff;
	color:#555;
	font-size:.9em;
	font-family:"Open Sans", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", 'メイリオ',Osaka,'ＭＳ Ｐゴシック';
	line-height:1.7;
}

#chder .chright .logo{margin-top:12px !important;}
.win.chrome #chder .chright .logo{margin-top:13px !important;}
.mac.gecko #chder .chright .logo{margin-top:11px !important;}


@media only screen and (max-width: 767px) {
	body{
		width:100%;
		min-width:0;
		-webkit-text-size-adjust:none;
		-ms-text-size-adjust:none;
	}
}

html,body{height:100%;}
body.top-contents{background:#f2f2f2;}

a{
	color:#225092;
	text-decoration:none;
	-webkit-transition:.1s ease-in-out;
	   -moz-transition:.1s ease-in-out;
		-ms-transition:.1s ease-in-out;
		 -o-transition:.1s ease-in-out;
			transition:.1s ease-in-out;
}

.fLeft{float:left;}
.fRight{float:right;}
.clear{clear:both;}

.font-bold{font-weight:bold !important;}
.font-normal{font-weight:normal !important;}
@media only screen and (max-width:767px){
.word-break{word-break:break-all !important;}
}

.textl{text-align:left !important;}
.textc{text-align:center !important;}
.textr{text-align:right !important;}

.border-tno{border-top:none !important;}
.border-bno{border-bottom:none !important;}
.border-rno{border-right:none !important;}
.border-lno{border-left:none !important;}

.m-0{margin:0 !important;}
.m-0auto{margin:0 auto !important;}
.mt-0 {margin-top:0 !important;}
.mt-10{margin-top:10px !important;}
.mt-15{margin-top:15px !important;}
.mt-20{margin-top:20px !important;}
.mt-25{margin-top:25px !important;}
.mt-30{margin-top:30px !important;}
.mt-35{margin-top:35px !important;}
.mt-40{margin-top:40px !important;}
.mt-45{margin-top:45px !important;}
.mt-50{margin-top:50px !important;}
.mt-55{margin-top:55px !important;}
.mt-60{margin-top:60px !important;}
.mt-65{margin-top:65px !important;}
.mt-70{margin-top:70px !important;}
.mt-75{margin-top:75px !important;}
.mt-80{margin-top:80px !important;}
.mb-0 {margin-bottom:0 !important;}
.mb-10{margin-bottom:10px !important;}
.mb-15{margin-bottom:15px !important;}
.mb-20{margin-bottom:20px !important;}
.mb-25{margin-bottom:25px !important;}
.mb-30{margin-bottom:30px !important;}
.mb-35{margin-bottom:35px !important;}
.mb-40{margin-bottom:40px !important;}
.mb-45{margin-bottom:45px !important;}
.mb-50{margin-bottom:50px !important;}
.mb-55{margin-bottom:55px !important;}
.mb-60{margin-bottom:60px !important;}
.mb-65{margin-bottom:65px !important;}
.mb-70{margin-bottom:70px !important;}
.mb-75{margin-bottom:75px !important;}
.mb-80{margin-bottom:80px !important;}
.ml-0 {margin-left:0 !important;}
.ml-10{margin-left:10px !important;}
.ml-15{margin-left:15px !important;}
.ml-20{margin-left:20px !important;}
.ml-25{margin-left:25px !important;}
.ml-30{margin-left:30px !important;}
.ml-35{margin-left:35px !important;}
.ml-40{margin-left:40px !important;}
.ml-45{margin-left:45px !important;}
.ml-50{margin-left:50px !important;}
.ml-55{margin-left:55px !important;}
.ml-60{margin-left:60px !important;}
.ml-65{margin-left:65px !important;}
.ml-70{margin-left:70px !important;}
.ml-75{margin-left:75px !important;}
.ml-80{margin-left:80px !important;}
.mr-0 {margin-right:0 !important;}
.mr-10{margin-right:10px !important;}
.mr-15{margin-right:15px !important;}
.mr-20{margin-right:20px !important;}
.mr-25{margin-right:25px !important;}
.mr-30{margin-right:30px !important;}
.mr-35{margin-right:35px !important;}
.mr-40{margin-right:40px !important;}
.mr-45{margin-right:45px !important;}
.mr-50{margin-right:50px !important;}
.mr-55{margin-right:55px !important;}
.mr-60{margin-right:60px !important;}
.mr-65{margin-right:65px !important;}
.mr-70{margin-right:70px !important;}
.mr-75{margin-right:75px !important;}
.mr-80{margin-right:80px !important;}

.p-0  {padding:0 !important;}
.pt-0 {padding-top:0 !important;}
.pt-10{padding-top:10px !important;}
.pt-15{padding-top:15px !important;}
.pt-20{padding-top:20px !important;}
.pt-25{padding-top:25px !important;}
.pt-30{padding-top:30px !important;}
.pt-35{padding-top:35px !important;}
.pt-40{padding-top:40px !important;}
.pt-45{padding-top:45px !important;}
.pt-50{padding-top:50px !important;}
.pt-55{padding-top:55px !important;}
.pt-60{padding-top:60px !important;}
.pt-65{padding-top:65px !important;}
.pt-70{padding-top:70px !important;}
.pt-75{padding-top:75px !important;}
.pt-80{padding-top:80px !important;}
.pb-0 {padding-bottom:0 !important;}
.pb-10{padding-bottom:10px !important;}
.pb-15{padding-bottom:15px !important;}
.pb-20{padding-bottom:20px !important;}
.pb-25{padding-bottom:25px !important;}
.pb-30{padding-bottom:30px !important;}
.pb-35{padding-bottom:35px !important;}
.pb-40{padding-bottom:40px !important;}
.pb-45{padding-bottom:45px !important;}
.pb-50{padding-bottom:50px !important;}
.pb-55{padding-bottom:55px !important;}
.pb-60{padding-bottom:60px !important;}
.pb-65{padding-bottom:65px !important;}
.pb-70{padding-bottom:70px !important;}
.pb-75{padding-bottom:75px !important;}
.pb-80{padding-bottom:80px !important;}
.pl-0 {padding-left:0 !important;}
.pl-10{padding-left:10px !important;}
.pl-15{padding-left:15px !important;}
.pl-20{padding-left:20px !important;}
.pl-25{padding-left:25px !important;}
.pl-30{padding-left:30px !important;}
.pl-35{padding-left:35px !important;}
.pl-40{padding-left:40px !important;}
.pl-45{padding-left:45px !important;}
.pl-50{padding-left:50px !important;}
.pl-55{padding-left:55px !important;}
.pl-60{padding-left:60px !important;}
.pl-65{padding-left:65px !important;}
.pl-70{padding-left:70px !important;}
.pl-75{padding-left:75px !important;}
.pl-80{padding-left:80px !important;}
.pr-0 {padding-right:0 !important;}
.pr-10{padding-right:10px !important;}
.pr-15{padding-right:15px !important;}
.pr-20{padding-right:20px !important;}
.pr-25{padding-right:25px !important;}
.pr-30{padding-right:30px !important;}
.pr-35{padding-right:35px !important;}
.pr-40{padding-right:40px !important;}
.pr-45{padding-right:45px !important;}
.pr-50{padding-right:50px !important;}
.pr-55{padding-right:55px !important;}
.pr-60{padding-right:60px !important;}
.pr-65{padding-right:65px !important;}
.pr-70{padding-right:70px !important;}
.pr-75{padding-right:75px !important;}
.pr-80{padding-right:80px !important;}


/* -------------------------------

Layout

------------------------------- */
/*Column*/
.row{width:100%;max-width:980px;margin:0 auto;}
/*.row{width:100%;max-width:980px;min-width:320px;margin:0 auto;padding-left:20px;padding-right:20px;}
.row .row {min-width:0;padding-left:0;padding-right:0;}*/
.row-header{width:100%;margin:0 auto;}
.column, .columns{min-height:1px;float:left;margin-left:2.12766%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.column:first-child, .columns:first-child, .alpha{margin-left:0;}
.column.omega, .columns.omega{float:right;}

.row .one.column{width:6.38298%;}
.row .one.columns{width:6.38298%;}
.row .two.columns{width:14.89362%;}
.row .three.columns{width:23.40426%;}
.row .four.columns{width:31.91489%;}
.row .five.columns{width:40.42553%;}
.row .six.columns{width:48.93617%;}
.row .seven.columns{width:57.44681%;}
.row .eight.columns{width:65.95745%;}
.row .nine.columns{width:74.46809%;}
.row .ten.columns{width:82.97872%;}
.row .eleven.columns{width:91.48936%;}
.row .twelve.columns{width:100%;}

@media only screen and (max-width:979px){
	.wrapper{padding:0 20px;}
	.side{padding-left:20px;}
	.main{padding-right:20px;}
}

@media only screen and (max-width:767px){
	body{min-width:0;width:100%;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;}
	.container{ margin-right:0; margin-left:0;min-width:0;}
	.row{width:100%;min-width:0;margin-right:0;margin-left:0;padding-right:0;padding-left:0;}
	.row .row .column, .row .row .columns{padding:0;}
	.row .centered{margin-left:0 !important;}
	.column, .columns{float:none;margin-right:0;margin-left:0;width:auto !important;}
	.column:last-child, .columns:last-child{float:none;margin-right:0;}
	[class*="column"] + [class*="column"]:last-child{float:none;}
	[class*="column"]:before{display:table;}
	[class*="column"]:after{display:table; clear:both;}
	[class^="push_"], [class*="push_"], [class^="pull_"], [class*="pull_"]{margin-left:0 !important;}

	.wrapper{padding:0;}
	.side{padding-left:0;}
	.main{padding-right:0;}
}

/*Table*/
table{width:100%;display:table;background-color:white;border-spacing:0;border-collapse:collapse;/*border:1px solid #e5e5e5;*/}
table caption{padding:.75em;text-align:center;}
table thead th, table tbody td, table tr td{display:table-cell;padding:20px 0;vertical-align:top;text-align:left;/*border-top:1px solid #e5e5e5;*/}
table tr td:first-child{white-space:nowrap;font-weight:bold;padding-right:10px;}
table thead{background-color:#3085d6;color:#fff;}
table thead tr th{vertical-align:bottom;font-weight:bold;}
table.striped tr:nth-of-type(even), table table tr.stripe, table table tr.striped{background-color:#efefef;}
table.rounded{border-collapse:separate;border-radius:5px;}
table.rounded caption + thead tr:first-child th:first-child, table.rounded caption + tr td:first-child, table.rounded > thead tr:first-child th:first-child, table.rounded > thead tr:first-child td:first-child, table.rounded > tr:first-child td:first-child{border-top-left-radius:5px;}
table.rounded caption + thead tr:first-child th:last-child, table.rounded caption + tr td:last-child, table.rounded > thead tr:first-child th:last-child, table.rounded > thead tr:first-child td:last-child, table.rounded > tr:first-child td:last-child{border-top-right-radius:5px;}
table.rounded thead ~ tr:last-child td:last-child, table.rounded tbody tr:last-child td:last-child{border-bottom-right-radius:5px;}
table.rounded thead ~ tr:last-child td:first-child, table.rounded tbody tr:last-child td:first-child{border-bottom-left-radius:5px;}
table.rounded thead th, table.rounded thead td, table.rounded caption + tbody tr:first-child td, table.rounded > tbody:first-child tr:first-child td{border-top:0;}
table tr{border:1px #ccc dotted;border-width:0 0 1px 0;}
table tr:last-child{border:none;}

@media only screen and (max-width:767px){
	table thead th, table tbody td, table tr td{padding:10px 0;}
}

/*Tile*/
.tiles{display:block;overflow:hidden;}
.tiles > li{height:auto;display:block;float:left;padding-bottom:0;}
.tiles.two_up{margin-left:-4%;}
.tiles.two_up > li{margin-left:4%;width:46%;}
.tiles.three_up,.tiles.four_up{margin-left:-2%;}
.tiles.three_up > li{margin-left:2%;width:31.3%;}
.tiles.four_up > li{margin-left:2%; width:23%;}
.tiles.five_up{margin-left:-1.5%;}
.tiles.five_up > li{margin-left:1.5%;width:18.5%;}

/*Button*/
.btn-blue a,.btn-blue-line a,.toggle-btn,.toggle-btn-gray,.toggle-btn-line{
	width:auto;
	position:relative;
	padding:15px 20px;
	border-radius:5px;
	text-align:center;
}
.toggle-btn,.toggle-btn-gray,.toggle-btn-line{
	-webkit-transition:.1s ease-in-out;
	   -moz-transition:.1s ease-in-out;
		-ms-transition:.1s ease-in-out;
		 -o-transition:.1s ease-in-out;
			transition:.1s ease-in-out;
}
.btn-blue a{display:inline-block;background:#30afde;color:#fff;}
.btn-blue-line a{display:block;border:1px #225092 solid;}
.toggle-btn{display:block;cursor:pointer;background:#30afde;color:#fff;}
.toggle-btn-gray{width:350px;display:block;cursor:pointer;background:#ececec;}
.toggle-btn-line{width:350px;display:block;cursor:pointer;border:2px #bbb solid;}
.btn-blue a:hover{background:#229dcb;}
.btn-blue-line a:hover{background:#225092;color:#fff;}
.toggle-btn:hover{background:#229dcb;}
.toggle-btn-gray:hover{background:#ccc;}
.toggle-btn-line:hover{background:#bbb;}
@media only screen and (max-width:767px){
	.btn-blue a{display:block;}
	.btn-blue-line a,.toggle-btn-gray,.toggle-btn-line{font-size:.9em;}
	.toggle-btn-gray{width:auto;}
}

.btn-splink a,.btn-freeoffer a,.btn-offer a,.btn-inquiry a{
	width:auto;
	display:block;
	position:relative;
	padding:20px;
	border-radius:5px;
	color:#fff;
	text-align:center;
	font-weight:bold;
	font-size:1.1em;
	}
.btn-splink a{background:#00c600;}
.btn-splink a:hover{background:#009c02;}
.btn-freeoffer a{background:#30afde;}
.btn-freeoffer a:hover{background:#229dcb;}
.btn-offer a{background:#ff5337;}
.btn-offer a:hover{background:#dd2709;}
.btn-inquiry a{background:#ffa530;}
.btn-inquiry a:hover{background:#f68b00;}
@media only screen and (max-width:767px){
	.btn-inquiry a,.btn-mb20{margin-bottom:20px;}
}